#principal {
  position: relative;
  margin: auto;
  width: 50%;
  width: 1000px;
  height: 1018px;
}

header {
  position: absolute;
  top: 20px;
  width: 1000px;
  height: 120px;
}

nav {
  position: absolute;
  height: 47px;
  top: 162px;
}

.menu {
  position: relative;
  display: inline-block;
  width: 196px;
  height: 47px;
  background-color: #97989a;
}

aside {
  position: absolute;
  width: 200px;
  height: 452px;
  background-color: #858688;
}

#asideIzquierdo {
  position: absolute;
  top: 451px;
}

#asideDerecho {
  position: absolute;
  left: 800px;
  top: 451px;
}

article {
  position: absolute;
  width: 600px;
  height: 452px;
  position: absolute;
  left: 200px;
  top: 451px;
  background-color: #4b4b4d;
}

section {
  position: absolute;
  top: 234px;
  height: 192px;
}

.destacado {
  position: relative;
  display: inline-block;
  width: 330px;
  height: 192px;
  background-color: #858688;
}

footer {
  position: absolute;
  top: 928px;
  width: 1000px;
  height: 69px;
  background-color: #4b4b4d;
}
