/*Margin y padding son necesarios para que se vean las cajas de colores*/

main {
  display: flex;
  flex-flow: column wrap;
  color: white;
  min-width: 250px;
  font-family: Arial, Helvetica, sans-serif;
}

main div {
  flex-grow: 1;
}

header {
  display: flex;

  flex-direction: column;
  background-image: url(../images/fons_cap.jpg);

  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
#headerTop {
  display: flex;
  flex-direction: row;
}
#subheader {
  width: auto;
  background-color: #b8b8b823;
}
#subheader div {
  color: #ff08007e;
  align-items: center;
  text-align: center;
}

#menu {
  display: flex;
  flex-grow: 4;
  align-self: center;
  color: grey;
}

#menu i {
  margin-right: 3em;
}

#menu a {
  margin-left: 0.5em;
  color: grey;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

#logo img {
  height: 5em;
}

a:hover {
  background-color: yellow;
}

#social {
  align-self: center;
  color: grey;
}

section {
  display: flex;

  flex-wrap: nowrap;
  flex-direction: row;
  background-color: rgb(0, 0, 0);
}

article {
  display: flex;
  padding: 0.2em;
  flex-grow: 2;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #ffffff;
}

article div {
  flex-basis: 45%;
}

article img {
  flex-basis: 33%;
}

#ultimoArticulo {
  background-color: #6399bb;
}

.fechaholder {
  flex-basis: 12em;
  background-size: cover;
  background-position: center;
  align-items: flex-end;
  width: 100%;
  display: flex;
}

.tituloArticulo {
  background-color: coral;
  width: 100%;
}

.noticia {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  padding: 0.5em;
  background-color: rgb(235, 235, 235);
}

aside {
  display: flex;
  padding: 0.5em;
  margin: 0.5em;
  flex-grow: 1;
  flex-direction: column;
  background-color: #f94c47;
  flex-basis: 33%;
}

aside div {
  background-color: #ffe380;
  line-height: 1em;
  flex-grow: 0;
  flex-shrink: 0;
}

footer {
  padding: 0.5em;
  margin: 0.5em;
  background-color: rgb(0, 0, 0);
}

footer div {
  background-color: #e4a434;
}

/* Tablets y telefonos */
@media only screen and (max-width: 768px) {
  section {
    flex-direction: column;

    background-color: #fff734;
  }
}
